In [17]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats

# Load dataset
df = pd.read_csv('Data.csv')

In [18]:
print("Dataset Shape:", df.shape)
print("\nDataset Info:")
df.info()
print("\nDataset Description:")
print(df.describe())

Dataset Shape: (29531, 16)

Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29531 entries, 0 to 29530
Data columns (total 16 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   City        29531 non-null  object
 1   Date        29531 non-null  object
 2   PM2.5       24933 non-null  float64
 3   PM10        18391 non-null  float64
 4   NO          25949 non-null  float64
 5   NO2         25946 non-null  float64
 6   NOx         25346 non-null  float64
 7   NH3         19203 non-null  float64
 8   CO          27472 non-null  float64
 9   SO2         25677 non-null  float64
 10  O3          25509 non-null  float64
 11  Benzene     23908 non-null  float64
 12  Toluene     21490 non-null  float64
 13  Xylene      11422 non-null  float64
 14  AQI         24850 non-null  float64
 15  AQI_Bucket  24850 non-null  object
dtypes: float64(13), object(3)
memory usage: 3.6+ MB

Dataset Description:
              PM2.5          PM10            NO           NO2           NOx  \
count  24933.000000  18391.000000  25949.000000  25946.000000  25346.000000
mean      67.450578    118.127103     17.574730     28.560659     32.309123
std       64.661449     90.605110     22.785846     24.474746     31.646011
min        0.040000      0.010000      0.020000      0.010000      0.000000
25%       28.820000     56.255000      5.630000     11.750000     12.820000
50%       48.570000     95.680000      9.890000     21.690000     23.520000
75%       80.590000    149.745000     19.950000     37.620000     40.127500
max      949.990000   1000.000000    390.680000    362.210000    467.630000

                NH3            CO           SO2            O3       Benzene  \
count  19203.000000  27472.000000  25677.000000  25509.000000  23908.000000
mean      23.483476      2.248598     14.531977     34.491430      3.280840
std       25.684275      6.962884     18.133775     21.694928     15.811136
min        0.010000      0.000000      0.010000      0.010000      0.000000
25%        8.580000      0.510000      5.670000     18.860000      0.120000
50%       15.850000      0.890000      9.160000     30.840000      1.070000
75%       30.020000      1.450000     15.220000     45.570000      3.080000
max      352.890000    175.810000    193.860000    257.730000    455.030000

            Toluene        Xylene           AQI
count  21490.000000  11422.000000  24850.000000
mean       8.700972      3.070128    166.463581
std       19.969164      6.323247    140.696585
min        0.000000      0.000000     13.000000
25%        0.600000      0.140000     81.000000
50%        2.970000      0.980000    118.000000
75%        9.150000      3.350000    208.000000
max      454.850000    170.370000   2049.000000

In [19]:
print("Missing Values:")
print(df.isnull().sum())

Missing Values:
City              0
Date              0
PM2.5          4598
PM10          11140
NO             3582
NO2            3585
NOx            4185
NH3           10328
CO             2059
SO2            3854
O3             4022
Benzene        5623
Toluene        8041
Xylene        18109
AQI            4681
AQI_Bucket     4681
dtype: int64

In [20]:
df.replace(0, np.nan, inplace=True)
df = df.dropna()
print("Missing Values After Cleaning:", df.isnull().sum().sum())

Missing Values After Cleaning: 0

In [21]:
df = df.drop_duplicates()

In [22]:
df = pd.get_dummies(df, columns=['AQI_Bucket'], drop_first=True)

In [23]:
print(df.head(10))

           City        Date  PM2.5    PM10    NO    NO2    NOx    NH3    CO  \
2123  Amaravati  25-11-2017  81.40  124.50  1.44  20.50  12.08  10.72  0.12
2124  Amaravati  26-11-2017  78.32  129.06  1.26  26.00  14.85  10.28  0.14
2125  Amaravati  27-11-2017  88.76  135.32  6.60  30.85  21.77  12.91  0.11
2126  Amaravati  28-11-2017  64.18  104.09  2.56  28.07  17.01  11.42  0.09
2127  Amaravati  29-11-2017  72.47  114.84  5.23  23.20  16.59  12.25  0.16
2128  Amaravati  30-11-2017  69.80  114.86  4.69  20.17  14.54  10.95  0.12
2129  Amaravati  01-12-2017  73.96  113.56  4.58  19.29  13.97  10.95  0.10
2130  Amaravati  02-12-2017  89.90  140.20  7.71  26.19  19.87  13.12  0.10
2131  Amaravati  03-12-2017  87.14  130.52  0.97  21.31  12.12  14.36  0.15
2132  Amaravati  04-12-2017  84.64  125.00  4.02  26.98  17.58  14.41  0.18

        SO2      O3  Benzene  Toluene  Xylene    AQI  AQI_Bucket_Moderate  \
2123  15.24  127.09     0.20     6.50    0.06  184.0                 True
2124  26.96  117.44     0.22     7.95    0.08  197.0                 True
2125  33.59  111.81     0.29     7.63    0.12  198.0                 True
2126  19.00  138.18     0.17     5.02    0.07  188.0                 True
2127  10.55  109.74     0.21     4.71    0.08  173.0                 True
2128  14.07  118.09     0.16     3.52    0.06  165.0                 True
2129  13.90  123.80     0.17     2.85    0.04  191.0                 True
2130  19.37  128.73     0.25     2.79    0.07  191.0                 True
2131  11.41  114.80     0.23     3.82    0.04  227.0                False
2132   9.84  112.41     0.31     3.53    0.09  168.0                 True

      AQI_Bucket_Poor  AQI_Bucket_Satisfactory  AQI_Bucket_Severe  \
2123            False                    False              False
2124            False                    False              False
2125            False                    False              False
2126            False                    False              False
2127            False                    False              False
2128            False                    False              False
2129            False                    False              False
2130            False                    False              False
2131             True                    False              False
2132            False                    False              False

      AQI_Bucket_Very Poor
2123                 False
2124                 False
2125                 False
2126                 False
2127                 False
2128                 False
2129                 False
2130                 False
2131                 False
2132                 False

In [24]:
#By Z-score method
mean_aqi = df['AQI'].mean()
std_aqi = df['AQI'].std()

print (f"Mean of AQI: {mean_aqi}")
print (f"Standard Deviation of AQI: {std_aqi}")

df['Z_Score'] = (df['AQI'] - mean_aqi) / std_aqi
print(df[['AQI', 'Z_Score']])

# Identify outliers based on the Z-score
outliers =df[df['Z_Score'].abs() > 3]
print (outliers)

Mean of AQI: 138.48802144412798
Standard Deviation of AQI: 91.64490404411067
         AQI   Z_Score
2123   184.0  0.496612
2124   197.0  0.638464
2125   198.0  0.649376
2126   188.0  0.540259
2127   173.0  0.376584
...      ...       ...
29523   86.0 -0.572733
29524   77.0 -0.670938
29525   47.0 -0.998288
29526   41.0 -1.063758
29527   70.0 -0.747319

[5969 rows x 2 columns]
            City        Date   PM2.5    PM10     NO    NO2     NOx    NH3  \
3308    Amritsar  20-10-2017  248.12  445.44  29.93  40.11   70.05  60.89
4265    Amritsar  03-06-2020   26.72  486.99  20.32  12.54   29.09  12.08
10229      Delhi  01-01-2015  313.22  607.98  69.16  36.39  110.59  33.85
10230      Delhi  02-01-2015  186.18  269.55  62.09  32.87   88.14  31.83
10521      Delhi  20-10-2015  198.10  336.47  91.29  74.62  155.10  36.75
...          ...         ...     ...     ...    ...    ...     ...    ...
14880  Hyderabad  30-10-2015  516.20   82.97   3.03   0.62    2.72  10.78
14881  Hyderabad  31-10-2015  270.21  104.38   3.12   0.65    2.57  11.20
14994  Hyderabad  21-02-2016  525.09   94.00  16.96  19.14   34.70  10.53
14995  Hyderabad  22-02-2016  353.58   95.54   8.53  16.83   23.94  10.47
25531      Patna  24-12-2019  242.58  158.08   8.62  42.92   47.85  49.80

          CO    SO2  ...  Benzene  Toluene  Xylene    AQI  \
3308    1.08   9.66  ...     3.47     7.62   28.33  463.0
4265    0.58  10.48  ...     1.30     1.10    8.72  478.0
10229  15.20   9.25  ...    14.36    24.86    9.84  472.0
10230   9.54   6.65  ...    10.55    20.09    4.29  454.0
10521   2.17  16.73  ...     9.50    38.80    1.96  428.0
...      ...    ...  ...      ...      ...     ...    ...
14880   1.09   4.77  ...     1.05     5.82    0.47  487.0
14881   0.94   8.98  ...     1.07     6.22    1.58  502.0
14994   1.57   8.75  ...     2.16    13.13    2.85  442.0
14995   1.17   9.43  ...     1.40     9.80    2.38  510.0
25531   2.75  10.66  ...     3.79     8.30    8.14  449.0

       AQI_Bucket_Moderate  AQI_Bucket_Poor  AQI_Bucket_Satisfactory  \
3308                 False            False                    False
4265                 False            False                    False
10229                False            False                    False
10230                False            False                    False
10521                False            False                    False
...                    ...              ...                      ...
14880                False            False                    False
14881                False            False                    False
14994                False            False                    False
14995                False            False                    False
25531                False            False                    False

       AQI_Bucket_Severe  AQI_Bucket_Very Poor   Z_Score
3308                True                 False  3.540971
4265                True                 False  3.704647
10229               True                 False  3.639176
10230               True                 False  3.442766
10521               True                 False  3.159062
...                  ...                   ...       ...
14880               True                 False  3.802852
14881               True                 False  3.966527
14994               True                 False  3.311826
14995               True                 False  4.053820
25531               True                 False  3.388208

[94 rows x 21 columns]

In [25]:
min_aqi = df['AQI'].min()
max_aqi = df['AQI'].max()
df['AQI_normalized'] = (df['AQI'] - min_aqi) / (max_aqi - min_aqi)

In [26]:
print(df [['AQI', 'AQI_normalized']])

         AQI  AQI_normalized
2123   184.0        0.246177
2124   197.0        0.266055
2125   198.0        0.267584
2126   188.0        0.252294
2127   173.0        0.229358
...      ...             ...
29523   86.0        0.096330
29524   77.0        0.082569
29525   47.0        0.036697
29526   41.0        0.027523
29527   70.0        0.071865

[5969 rows x 2 columns]